<html>
    <head>
        <title>Universities Entrance Exam</title>
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    </head>

    <body>
        <div style="margin-left:80px;padding:100px;">
            <div style="display:flex;">
                <!--1R 2C-->
                <div style="width:25%;">
                    <h1><b><pre>  44</pre></b></h1>
                    <h5><small>NIRF RANK'22</small></h>
                </div>
    
                <div>
                    <h4 style="color:blue;">KL University Guntur - Koneru Lakshmaiah Education Foundation
                    </h4>
                    <h6>Ownership:Private</h6>
                    <hr width="100%"></hr>

                    <div>
                        <div style="display:flex;">
                            <li style="list-style:none"><a style="padding: 3px;text-decoration:none" href="">Admission</a></li>     <!--for spacing b/w two links we use 'padding' in a{ }-->
                            <li><a style="padding: 3px;text-decoration:none" href="">Courses & Fee</a></li>
                            <li><a style="padding: 3px;text-decoration:none" href="">Placements</a></li>
                            
                        </div>
                    </div>
                </div>
            </div>
            <hr width="100%"></hr>

            <!--new-->
            <div style="display:flex;padding-top:30px">
                <!--1R 2C-->
                <div style="width:25%;">
                    <h1><b><pre>  99</pre></b></h1>
                    <h5><small>NIRF RANK'22</small></h>
                </div>
    
                <div>
                    <h4 style="color:blue;">Vignan's Foundation for Science Technology and Research, Guntur
                    </h4>
                    <h6>Ownership:Private</h6>
                    <hr width="100%"></hr>

                    <div>
                        <div style="display:flex;">
                            <li style="list-style:none"><a style="padding: 3px;text-decoration:none" href="">Admission</a></li>     <!--for spacing b/w two links we use 'padding' in a{ }-->
                            <li><a style="padding: 3px;text-decoration:none" href="">Courses & Fee</a></li>
                            <li><a style="padding: 3px;text-decoration:none" href="">Placements</a></li>
                            
                        </div>
                    </div>
                </div>
            </div>
            <hr width="100%"></hr>

            <!--new-->
            <div style="display:flex;padding-top:30px">
                <!--1R 2C-->
                <div style="width:25%;">
                    <h1><b><pre>  141</pre></b></h1>
                    <h5><small>NIRF RANK'22</small></h>
                </div>
    
                <div>
                    <h4 style="color:blue;">
                        VRSEC Vijayawada - Velagapudi Ramakrishna Siddhartha Engineering College
                    </h4>
                    <h6>Ownership:Private</h6>
                    <hr width="100%"></hr>

                    <div>
                        <div style="display:flex;">
                            <li style="list-style:none"><a style="padding: 3px;text-decoration:none" href="">Admission</a></li>     <!--for spacing b/w two links we use 'padding' in a{ }-->
                            <li><a style="padding: 3px;text-decoration:none" href="">Courses & Fee</a></li>
                            <li><a style="padding: 3px;text-decoration:none" href="">Placements</a></li>
                            
                        </div>
                    </div>
                </div>
            </div>
            <hr width="100%"></hr>

            <!--new-->
            <div style="display:flex;padding-top:30px">
                <!--1R 2C-->
                <div style="width:25%;">
                    <h1><b><pre>  165</pre></b></h1>
                    <h5><small>NIRF RANK'22</small></h>
                </div>
    
                <div>
                    <h4 style="color:blue;">
                        SVEC Tirupati - Sree Vidyanikethan Engineering College</h4>
                    <h6>Ownership:Private</h6>
                    <hr width="100%"></hr>

                    <div>
                        <div style="display:flex;">
                            <li style="list-style:none"><a style="padding: 3px;text-decoration:none" href="">Admission</a></li>     <!--for spacing b/w two links we use 'padding' in a{ }-->
                            <li><a style="padding: 3px;text-decoration:none" href="">Courses & Fee</a></li>
                            <li><a style="padding: 3px;text-decoration:none" href="">Placements</a></li>
                            
                        </div>
                    </div>
                </div>
            </div>
            <hr width="100%"></hr>

            <!--new-->
            <div style="display:flex;padding-top:30px">
                <!--1R 2C-->
                <div style="width:25%;">
                    <h1><b><pre>  188</pre></b></h1>
                    <h5><small>NIRF RANK'22</small></h>
                </div>
    
                <div>
                    <h4 style="color:blue;">GMRIT Rajam - GMR Institute of Technology</h4>
                    <h6>Ownership:Private</h6>
                    <hr width="100%"></hr>

                    <div>
                        <div style="display:flex;">
                            <li style="list-style:none"><a style="padding: 3px;text-decoration:none" href="">Admission</a></li>     <!--for spacing b/w two links we use 'padding' in a{ }-->
                            <li><a style="padding: 3px;text-decoration:none" href="">Courses & Fee</a></li>
                            <li><a style="padding: 3px;text-decoration:none" href="">Placements</a></li>
                            
                        </div>
                    </div>
                </div>
            </div>
            <hr width="100%"></hr>

            <!--new-->
            <div style="display:flex;padding-top:30px">
                <!--1R 2C-->
                <div style="width:25%;">
                    <h1><b><pre>  198</pre></b></h1>
                    <h5><small>NIRF RANK'22</small></h>
                </div>
    
                <div>
                    <h4 style="color:blue;">
                        SVCET Chittoor - Sri Venkateswara College of Engineering and Technology</h4>
                    <h6>Ownership:Private</h6>
                    <hr width="100%"></hr>

                    <div>
                        <div style="display:flex;">
                            <li style="list-style:none"><a style="padding: 3px;text-decoration:none" href="">Admission</a></li>     <!--for spacing b/w two links we use 'padding' in a{ }-->
                            <li><a style="padding: 3px;text-decoration:none" href="">Courses & Fee</a></li>
                            <li><a style="padding: 3px;text-decoration:none" href="">Placements</a></li>
                            
                        </div>
                    </div>
                </div>
            </div>
            <hr width="100%"></hr>

            <!--new-->
            <div style="display:flex;padding-top:30px">
                <!--1R 2C-->
                <div style="width:25%;">
                    <h1><b><pre>201</pre></b></h1>
                    <h5><small>NIRF RANK'22</small></h>
                </div>
    
                <div>
                    <h4 style="color:blue;">
                        GIET Rajahmundry - Godavari Institute of Engineering and Technology</h4>
                    <h6>Ownership:Private</h6>
                    <hr width="100%"></hr>

                    <div>
                        <div style="display:flex;">
                            <li style="list-style:none"><a style="padding: 3px;text-decoration:none" href="">Admission</a></li>     <!--for spacing b/w two links we use 'padding' in a{ }-->
                            <li><a style="padding: 3px;text-decoration:none" href="">Courses & Fee</a></li>
                            <li><a style="padding: 3px;text-decoration:none" href="">Placements</a></li>
                            
                        </div>
                    </div>
                </div>
            </div>
            <hr width="100%"></hr>
        </div>
        
    </body>
</html>