<html>
    <head>
        <title>Universities Entrance Exam</title>
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    </head>

    <body>
      <section style="background:pink; box-shadow: 3px 2px 1px 3.5px rgba(0,0,0,0.5);width:99%; position: sticky;top: 0;">
        <div style="text-align: center;height:100px;padding:25px;">
          <h1>Deemed Universities in Each State</h1>
        </div>
      </section>

        
      
        <div style="display:flex;margin:10px;padding:20px;flex-wrap:wrap" >
            <div style="margin:40px;width: 18rem;position:static;top:0;" class="card">
                {%load static %} <img src="{% static "C.png" %}" class="card-img-top" alt="..." height="300px">
                <div class="card-body">
                  <h5 class="card-title">Universities in TamilNadu(155)</h5>
                  <p class="card-text">Tamil Nadu represents the Tamil-speaking area of what was formerly the Madras Presidency of British India.</p>
                  <a href="{% url 'TamilNadu' %}" class="btn btn-primary">Visit</a>
                </div>
              </div>
            
              <div style="margin:40px;width: 18rem;position:static;top:0;" class="card">
                {%load static %} <img src="{% static "H.png" %}" class="card-img-top" alt="..." height="300px">
                <div class="card-body">
                  <h5 class="card-title">Universities in Maharashtra(128)</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="{% url 'Maharashtra' %}" class="btn btn-primary">Visit</a>
                </div>
              </div>

              <div style="margin:40px;width: 18rem;position:static;top:0;" class="card">
                {%load static %} <img src="{% static "B.png" %}" class="card-img-top" alt="..." height="300px">
                <div class="card-body">
                  <h5 class="card-title">Universities in AndhraPradesh(109)</h5>
                  <p class="card-text">.</p>
                  <a href="{% url 'AP' %}" class="btn btn-primary">Visit</a>
                </div>
              </div>
                
              <div style="margin:40px;width: 18rem;position:static;top:0;" class="card">
                {%load static %} <img src="{% static "D.png" %}" class="card-img-top" alt="..." height="300px">
                <div class="card-body">
                  <h5 class="card-title">Universities in Karnataka(88)</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Visit</a>
                </div>
              </div>

              <div style="margin:40px;width: 18rem;position:static;top:0;" class="card">
                {%load static %} <img src="{% static "C.png" %}" class="card-img-top" alt="..." height="300px">
                <div class="card-body">
                  <h5 class="card-title">Universities in Telangana(80)</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Visit</a>
                </div>
              </div>

              <div style="margin:40px;width: 18rem;position:static;top:0;" class="card">
                {%load static %} <img src="{% static "C.png" %}" class="card-img-top" alt="..." height="300px">
                <div class="card-body">
                  <h5 class="card-title">Universities in Uttar Pradesh(64)</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Visit</a>
                </div>
              </div>

              <div style="margin:40px;width: 18rem;position:static;top:0;" class="card">
                {%load static %} <img src="{% static "C.png" %}" class="card-img-top" alt="..." height="300px">
                <div class="card-body">
                  <h5 class="card-title">Universities in Kerala (40)</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Visit</a>
                </div>
              </div>

              <div style="margin:40px;width: 18rem;position:static;top:0;" class="card">
                {%load static %} <img src="{% static "C.png" %}" class="card-img-top" alt="..." height="300px">
                <div class="card-body">
                  <h5 class="card-title">Universities in MadhyaPradesh (35)</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Visit</a>
                </div>
              </div>

              <div style="margin:40px;width: 18rem;position:static;top:0;" class="card">
                {%load static %} <img src="{% static "C.png" %}" class="card-img-top" alt="..." height="300px">
                <div class="card-body">
                  <h5 class="card-title">Universities in West Bengal (31)</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Visit</a>
                </div>
              </div>

              <div style="margin:40px;width: 18rem;position:static;top:0;" class="card">
                {%load static %} <img src="{% static "C.png" %}" class="card-img-top" alt="..." height="300px">
                <div class="card-body">
                  <h5 class="card-title">Universities in Gujarat (29)</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Visit</a>
                </div>
              </div>

              <div style="margin:40px;width: 18rem;position:static;top:0;" class="card">
                {%load static %} <img src="{% static "C.png" %}" class="card-img-top" alt="..." height="300px">
                <div class="card-body">
                  <h5 class="card-title">Universities in Haryana (28)</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Visit</a>
                </div>
              </div>

              <div style="margin:40px;width: 18rem;" class="card">
                {%load static %} <img src="{% static "C.png" %}" class="card-img-top" alt="..." height="300px">
                <div class="card-body">
                  <h5 class="card-title">Universities in Punjab (24)</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Visit</a>
                </div>
              </div>

              <div style="margin:40px;width: 18rem;" class="card">
                {%load static %} <img src="{% static "C.png" %}" class="card-img-top" alt="..." height="300px">
                <div class="card-body">
                  <h5 class="card-title">Universities in Rajasthan (24)</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Visit</a>
                </div>
              </div>

              <div style="margin:40px;width: 18rem;" class="card">
                {%load static %} <img src="{% static "C.png" %}" class="card-img-top" alt="..." height="300px">
                <div class="card-body">
                  <h5 class="card-title">Universities in Odisha (22)</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Visit</a>
                </div>
              </div>

              <div style="margin:40px;width: 18rem;" class="card">
                {%load static %} <img src="{% static "C.png" %}" class="card-img-top" alt="..." height="300px">
                <div class="card-body">
                  <h5 class="card-title">Universities in Uttarakhand (17)</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Visit</a>
                </div>
              </div>

              <div style="margin:40px;width: 18rem;" class="card">
                {%load static %} <img src="{% static "C.png" %}" class="card-img-top" alt="..." height="300px">
                <div class="card-body">
                  <h5 class="card-title">Universities in Delhi (15)</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Visit</a>
                </div>
              </div>

              <div style="margin:40px;width: 18rem;" class="card">
                {%load static %} <img src="{% static "C.png" %}" class="card-img-top" alt="..." height="300px">
                <div class="card-body">
                  <h5 class="card-title">Universities in Chhattisgarh (12)</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Visit</a>
                </div>
              </div>

              <div style="margin:40px;width: 18rem;" class="card">
                {%load static %} <img src="{% static "C.png" %}" class="card-img-top" alt="..." height="300px">
                <div class="card-body">
                  <h5 class="card-title">Universities in Assam (10)</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Visit</a>
                </div>
              </div>

              <div style="margin:40px;width: 18rem;" class="card">
                {%load static %} <img src="{% static "C.png" %}" class="card-img-top" alt="..." height="300px">
                <div class="card-body">
                  <h5 class="card-title">Universities in Jharkhand (7)</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Visit</a>
                </div>
              </div>

              <div style="margin:40px;width: 18rem;" class="card">
                {%load static %} <img src="{% static "C.png" %}" class="card-img-top" alt="..." height="300px">
                <div class="card-body">
                  <h5 class="card-title">Universities in Himachal Pradesh (6)</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Visit</a>
                </div>
              </div>

              <div style="margin:40px;width: 18rem;" class="card">
                {%load static %} <img src="{% static "C.png" %}" class="card-img-top" alt="..." height="300px">
                <div class="card-body">
                  <h5 class="card-title">Universities in Chandigarh (5)</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Visit</a>
                </div>
              </div>

              <div style="margin:40px;width: 18rem;" class="card">
                {%load static %} <img src="{% static "C.png" %}" class="card-img-top" alt="..." height="300px">
                <div class="card-body">
                  <h5 class="card-title">Universities in Puducherry (5)</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Visit</a>
                </div>
              </div>

              <div style="margin:40px;width: 18rem;" class="card">
                {%load static %} <img src="{% static "C.png" %}" class="card-img-top" alt="..." height="300px">
                <div class="card-body">
                  <h5 class="card-title">Universities in Goa (5)</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Visit</a>
                </div>
              </div>

              <div style="margin:40px;width: 18rem;" class="card">
                {%load static %} <img src="{% static "C.png" %}" class="card-img-top" alt="..." height="300px">
                <div class="card-body">
                  <h5 class="card-title">Universities in Jammu And Kashmir (4)</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Visit</a>
                </div>
              </div>

              <div style="margin:40px;width: 18rem;" class="card">
                {%load static %} <img src="{% static "C.png" %}" class="card-img-top" alt="..." height="300px">
                <div class="card-body">
                  <h5 class="card-title">Universities in Bihar (3)</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Visit</a>
                </div>
              </div>

              <div style="margin:40px;width: 18rem;" class="card">
                {%load static %} <img src="{% static "C.png" %}" class="card-img-top" alt="..." height="300px">
                <div class="card-body">
                  <h5 class="card-title">Universities in Mizoram (2)</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Visit</a>
                </div>
              </div>

              <div style="margin:40px;width: 18rem;" class="card">
                {%load static %} <img src="{% static "C.png" %}" class="card-img-top" alt="..." height="300px">
                <div class="card-body">
                  <h5 class="card-title">Universities in Sikkim (2)</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Visit</a>
                </div>
              </div>

              <div style="margin:40px;width: 18rem;" class="card">
                {%load static %} <img src="{% static "C.png" %}" class="card-img-top" alt="..." height="300px">
                <div class="card-body">
                  <h5 class="card-title">Universities in Tripura (2)</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Visit</a>
                </div>
              </div>

              <div style="margin:40px;width: 18rem;" class="card">
                {%load static %} <img src="{% static "C.png" %}" class="card-img-top" alt="..." height="300px">
                <div class="card-body">
                  <h5 class="card-title">Universities in Arunachal Pradesh (2)</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Visit</a>
                </div>
              </div>

              <div style="margin:40px;width: 18rem;" class="card">
                {%load static %} <img src="{% static "C.png" %}" class="card-img-top" alt="..." height="300px">
                <div class="card-body">
                  <h5 class="card-title">Universities in Manipur (1)</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Visit</a>
                </div>
              </div>

              <div style="margin:40px;width: 18rem;" class="card">
                {%load static %} <img src="{% static "C.png" %}" class="card-img-top" alt="..." height="300px">
                <div class="card-body">
                  <h5 class="card-title">Universities in Meghalaya (1)</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Visit</a>
                </div>
              </div>

              <div style="margin:40px;width: 18rem;" class="card">
                {%load static %} <img src="{% static "C.png" %}" class="card-img-top" alt="..." height="300px">
                <div class="card-body">
                  <h5 class="card-title">Universities in Nagaland (1)</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Visit</a>
                </div>
              </div>

              <div style="margin:40px;width: 18rem;" class="card">
                {%load static %} <img src="{% static "C.png" %}" class="card-img-top" alt="..." height="300px">
                <div class="card-body">
                  <h5 class="card-title">Universities in Andaman And Nicobar Islands (1)</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Visit</a>
                </div>
              </div>
        </div>

    </body>

</html>