<html>
    <head>
        <title>Entrance Exam</title>
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    </head>

    <body>
        
        <section style="background:pink; box-shadow: 3px 2px 1px 3.5px rgba(0,0,0,0.5);width:99%; position: sticky;top: 0;">
            <div style="text-align: center;height:100px;padding:25px;">
              <h1>Top NIT's</h1>
            </div>
        </section>

        <table class="table table-hover" style="margin:60px;">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name of NIT</th>
                <th scope="col">B.Tech Seat's</th>
                <th scope="col">B.Tech Programmes</th>
                <th scope="col">City</th>
                <th scope="col">State</th>
                <th scope="col">NIRF Rank</th>
                

              </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>NIT Agartala</td>
                    <td>1059</td>
                    <td>9</td>
                    <td>Agratala</td>
                    <td>Tripura</td>
                    <td>80</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>NIT Calicut</td>
                    <td>1244</td>
                    <td>9</td>
                    <td>Kozhikode</td>
                    <td>Kerala</td>
                    <td>31</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>NIT Delhi</td>
                    <td>182</td>
                    <td>9</td>
                    <td>Delhi</td>
                    <td>Delhi</td>
                    <td>194</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>NIT Durgapur</td>
                    <td>909</td>
                    <td>9</td>
                    <td>Durgapur</td>
                    <td>West Bengal</td>
                    <td>34</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>NIT Goa</td>
                    <td>188</td>
                    <td>9</td>
                    <td>Ponda</td>
                    <td>Goa</td>
                    <td>88</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>NIT Hamirpur</td>
                    <td>944</td>
                    <td>9</td>
                    <td>Hamirpur</td>
                    <td>Himachal Pradesh</td>
                    <td>128</td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td>NIT Karnataka</td>
                    <td>981</td>
                    <td>9</td>
                    <td>Surathkal</td>
                    <td>Karnataka</td>
                    <td>10</td>
                </tr>
                <tr>
                    <th scope="row">8</th>
                    <td>NIT Meghalaya</td>
                    <td>151</td>
                    <td>9</td>
                    <td>Shillong</td>
                    <td>Meghalaya</td>
                    <td>60</td>
                </tr>
                <tr>
                    <th scope="row">9</th>
                    <td>NIT Nagaland</td>
                    <td>236</td>
                    <td>9</td>
                    <td>Dimapur</td>
                    <td>Nagaland</td>
                    <td>160</td>
                </tr>
                <tr>
                    <th scope="row">10</th>
                    <td>NIT Patna</td>
                    <td>813</td>
                    <td>9</td>
                    <td>Patna</td>
                    <td>Bihar</td>
                    <td>63</td>
                </tr>
                <tr>
                    <th scope="row">11</th>
                    <td>NIT Puducherry</td>
                    <td>243</td>
                    <td>9</td>
                    <td>Karaikal</td>
                    <td>Pondicherry</td>
                    <td>136</td>
                </tr>
                <tr>
                    <th scope="row">12</th>
                    <td>NIT Raipur</td>
                    <td>1197</td>
                    <td>9</td>
                    <td>Raipur</td>
                    <td>Chhattisgarh</td>
                    <td>65</td>
                </tr>
                <tr>
                    <th scope="row">13</th>
                    <td>NIT Sikkim</td>
                    <td>161</td>
                    <td>9</td>
                    <td>South Sikkim</td>
                    <td>Sikkim</td>
                    <td>173</td>
                </tr>
                <tr>
                    <th scope="row">14</th>
                    <td>NIT Arunachal Pradesh</td>
                    <td>505</td>
                    <td>9</td>
                    <td>Itanagar</td>
                    <td>Arunachal Pradesh</td>
                    <td>171</td>
                </tr>
                <tr>
                    <th scope="row">15</th>
                    <td>NIT Jamshedpur</td>
                    <td>751</td>
                    <td>9</td>
                    <td>Jamshedpur</td>
                    <td>Jharkhand</td>
                    <td>90</td>
                </tr>
                <tr>
                    <th scope="row">16</th>
                    <td>NIT Kurukshetra</td>
                    <td>1147</td>
                    <td>9</td>
                    <td>Kurukshetra</td>
                    <td>Haryana</td>
                    <td>50</td>
                </tr>
                <tr>
                    <th scope="row">17</th>
                    <td>NIT Manipur</td>
                    <td>180</td>
                    <td>9</td>
                    <td>Imphal</td>
                    <td>Manipur</td>
                    <td>108</td>
                </tr>
                <tr>
                    <th scope="row">18</th>
                    <td>NIT Mizoram</td>
                    <td>150</td>
                    <td>9</td>
                    <td>Aizawl</td>
                    <td>Mizoram</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">19</th>
                    <td>NIT  Rourkela</td>
                    <td>1234</td>
                    <td>9</td>
                    <td>Rourkela</td>
                    <td>Odisha</td>
                    <td>15</td>
                </tr>
                <tr>
                    <th scope="row">20</th>
                    <td>NIT Silchar</td>
                    <td>884</td>
                    <td>9</td>
                    <td>Silchar</td>
                    <td>Assam</td>
                    <td>38</td>
                </tr>
                <tr>
                    <th scope="row">21</th>
                    <td>NIT Srinagar</td>
                    <td>889</td>
                    <td>9</td>
                    <td>Srinagar</td>
                    <td>Jammu and Kashmir</td>
                    <td>66</td>
                </tr>
                <tr>
                    <th scope="row">22</th>
                    <td>NIT Tiruchirappalli</td>
                    <td>1036</td>
                    <td>9</td>
                    <td>Tiruchirappalli</td>
                    <td>Tamil Nadu</td>
                    <td>8</td>
                </tr>
                <tr>
                    <th scope="row">23</th>
                    <td>NIT Uttarakhand</td>
                    <td>80</td>
                    <td>9</td>
                    <td>Srinagar (Garhwal)</td>
                    <td>Uttarakhand</td>
                    <td>131</td>
                </tr>
                <tr>
                    <th scope="row">24</th>
                    <td>NIT Warangal</td>
                    <td>945</td>
                    <td>9</td>
                    <td>Warangal</td>
                    <td>Telangana</td>
                    <td>21</td>
                </tr>
                <tr>
                    <th scope="row">25</th>
                    <td>NIT Bhopal</td>
                    <td>1173</td>
                    <td>9</td>
                    <td>Bhopal</td>
                    <td>Madhya Pradesh</td>
                    <td>70</td>
                </tr>
                <tr>
                    <th scope="row">26</th>
                    <td>NIT Allahabad</td>
                    <td>1074</td>
                    <td>9</td>
                    <td>Allahabad</td>
                    <td>Uttar Pradesh</td>
                    <td>47</td>
                </tr>
                <tr>
                    <th scope="row">26</th>
                    <td>NIT Jaipur</td>
                    <td>909</td>
                    <td>9</td>
                    <td>Jaipur</td>
                    <td>Rajasthan</td>
                    <td>91</td>
                </tr>
                <tr>
                    <th scope="row">27</th>
                    <td>NIT Jalandhar</td>
                    <td>1122</td>
                    <td>9</td>
                    <td>Jalandhar</td>
                    <td>Punjab</td>
                    <td>52</td>
                </tr>
                <tr>
                    <th scope="row">28</th>
                    <td>NIT Surat</td>
                    <td>1091</td>
                    <td>9</td>
                    <td>Surat</td>
                    <td>Gujarat</td>
                    <td>10</td>
                </tr>
                <tr>
                    <th scope="row">29</th>
                    <td>NIT Nagpur</td>
                    <td>946</td>
                    <td>9</td>
                    <td>Nagpur</td>
                    <td>Maharashtra</td>
                    <td>30</td>
                </tr>
                <tr>
                    <th scope="row">30</th>
                    <td>NIT Shibpur</td>
                    <td>746</td>
                    <td>9</td>
                    <td>Sibpur</td>
                    <td>West Bengal</td>
                    <td>40</td>
                </tr>
                <tr>
                    <th scope="row">31</th>
                    <td>NIT Andhra Pradesh</td>
                    <td>603</td>
                    <td>9</td>
                    <td>West Godavari</td>
                    <td>Andhra Pradesh</td>
                    <td>250</td>
                </tr>
                
            </tbody>
        </table>
    </body>

</html>
