<html>
    <head>
        <title>Universities Entrance Exam</title>
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    </head>

    <body>
        <div style="margin-left:80px;padding:100px;">
            <div style="display:flex;">
                <!--1R 2C-->
                <div style="width:25%;">
                    <h1><b><pre>  12</pre></b></h1>
                    <h5><small>NIRF RANK'22</small></h>
                </div>
    
                <div>
                    <h4 style="color:blue;">VIT Vellore - Vellore Institute of Technology</h4>
                    <h6>Ownership:Private</h6>
                    <hr width="100%"></hr>

                    <div>
                        <div style="display:flex;">
                            <li style="list-style:none"><a style="padding: 3px;text-decoration:none" href="">Admission</a></li>     <!--for spacing b/w two links we use 'padding' in a{ }-->
                            <li><a style="padding: 3px;text-decoration:none" href="">Courses & Fee</a></li>
                            <li><a style="padding: 3px;text-decoration:none" href="">Placements</a></li>
                            
                        </div>
                    </div>
                </div>
            </div>
            <hr width="100%"></hr>

            <!--new-->
            <div style="display:flex;padding-top:30px">
                <!--1R 2C-->
                <div style="width:25%;">
                    <h1><b><pre>  19</pre></b></h1>
                    <h5><small>NIRF RANK'22</small></h>
                </div>
    
                <div>
                    <h4 style="color:blue;">Amrita Vishwa Vidyapeetham, Coimbatore</h4>
                    <h6>Ownership:Private</h6>
                    <hr width="100%"></hr>

                    <div>
                        <div style="display:flex;">
                            <li style="list-style:none"><a style="padding: 3px;text-decoration:none" href="">Admission</a></li>     <!--for spacing b/w two links we use 'padding' in a{ }-->
                            <li><a style="padding: 3px;text-decoration:none" href="">Courses & Fee</a></li>
                            <li><a style="padding: 3px;text-decoration:none" href="">Placements</a></li>
                            
                        </div>
                    </div>
                </div>
            </div>
            <hr width="100%"></hr>

            <!--new-->
            <div style="display:flex;padding-top:30px">
                <!--1R 2C-->
                <div style="width:25%;">
                    <h1><b><pre>  24</pre></b></h1>
                    <h5><small>NIRF RANK'22</small></h>
                </div>
    
                <div>
                    <h4 style="color:blue;">SRM University Chennai - SRM Institute of Science and Technology</h4>
                    <h6>Ownership:Private</h6>
                    <hr width="100%"></hr>

                    <div>
                        <div style="display:flex;">
                            <li style="list-style:none"><a style="padding: 3px;text-decoration:none" href="">Admission</a></li>     <!--for spacing b/w two links we use 'padding' in a{ }-->
                            <li><a style="padding: 3px;text-decoration:none" href="">Courses & Fee</a></li>
                            <li><a style="padding: 3px;text-decoration:none" href="">Placements</a></li>
                            
                        </div>
                    </div>
                </div>
            </div>
            <hr width="100%"></hr>

            <!--new-->
            <div style="display:flex;padding-top:30px">
                <!--1R 2C-->
                <div style="width:25%;">
                    <h1><b><pre>  39</pre></b></h1>
                    <h5><small>NIRF RANK'22</small></h>
                </div>
    
                <div>
                    <h4 style="color:blue;">Kalasalingam Academy of Research and Education, Virudhunagar</h4>
                    <h6>Ownership:Private</h6>
                    <hr width="100%"></hr>

                    <div>
                        <div style="display:flex;">
                            <li style="list-style:none"><a style="padding: 3px;text-decoration:none" href="">Admission</a></li>     <!--for spacing b/w two links we use 'padding' in a{ }-->
                            <li><a style="padding: 3px;text-decoration:none" href="">Courses & Fee</a></li>
                            <li><a style="padding: 3px;text-decoration:none" href="">Placements</a></li>
                            
                        </div>
                    </div>
                </div>
            </div>
            <hr width="100%"></hr>

            <!--new-->
            <div style="display:flex;padding-top:30px">
                <!--1R 2C-->
                <div style="width:25%;">
                    <h1><b><pre>  41</pre></b></h1>
                    <h5><small>NIRF RANK'22</small></h>
                </div>
    
                <div>
                    <h4 style="color:blue;">SASTRA University Thanjavur - Shanmugha Arts Science Technology Research and Academy</h4>
                    <h6>Ownership:Private</h6>
                    <hr width="100%"></hr>

                    <div>
                        <div style="display:flex;">
                            <li style="list-style:none"><a style="padding: 3px;text-decoration:none" href="">Admission</a></li>     <!--for spacing b/w two links we use 'padding' in a{ }-->
                            <li><a style="padding: 3px;text-decoration:none" href="">Courses & Fee</a></li>
                            <li><a style="padding: 3px;text-decoration:none" href="">Placements</a></li>
                            
                        </div>
                    </div>
                </div>
            </div>
            <hr width="100%"></hr>

            <!--new-->
            <div style="display:flex;padding-top:30px">
                <!--1R 2C-->
                <div style="width:25%;">
                    <h1><b><pre>  48</pre></b></h1>
                    <h5><small>NIRF RANK'22</small></h>
                </div>
    
                <div>
                    <h4 style="color:blue;">SSN College of Engineering - Sri Sivasubramaniya Nadar College of Engineering</h4>
                    <h6>Ownership:Private</h6>
                    <hr width="100%"></hr>

                    <div>
                        <div style="display:flex;">
                            <li style="list-style:none"><a style="padding: 3px;text-decoration:none" href="">Admission</a></li>     <!--for spacing b/w two links we use 'padding' in a{ }-->
                            <li><a style="padding: 3px;text-decoration:none" href="">Courses & Fee</a></li>
                            <li><a style="padding: 3px;text-decoration:none" href="">Placements</a></li>
                            
                        </div>
                    </div>
                </div>
            </div>
            <hr width="100%"></hr>

            <!--new-->
            <div style="display:flex;padding-top:30px">
                <!--1R 2C-->
                <div style="width:25%;">
                    <h1><b><pre>  54</pre></b></h1>
                    <h5><small>NIRF RANK'22</small></h>
                </div>
    
                <div>
                    <h4 style="color:blue;">Sathyabama University - Sathyabama Institute of Science and Technology</h4>
                    <h6>Ownership:Private</h6>
                    <hr width="100%"></hr>

                    <div>
                        <div style="display:flex;">
                            <li style="list-style:none"><a style="padding: 3px;text-decoration:none" href="">Admission</a></li>     <!--for spacing b/w two links we use 'padding' in a{ }-->
                            <li><a style="padding: 3px;text-decoration:none" href="">Courses & Fee</a></li>
                            <li><a style="padding: 3px;text-decoration:none" href="">Placements</a></li>
                            
                        </div>
                    </div>
                </div>
            </div>
            <hr width="100%"></hr>

            <!--new-->
            <div style="display:flex;padding-top:30px">
                <!--1R 2C-->
                <div style="width:25%;">
                    <h1><b><pre>  57</pre></b></h1>
                    <h5><small>NIRF RANK'22</small></h>
                </div>
    
                <div>
                    <h4 style="color:blue;">PSG Tech Coimbatore - PSG College of Technology</h4>
                    <h6>Ownership:Private</h6>
                    <hr width="100%"></hr>

                    <div>
                        <div style="display:flex;">
                            <li style="list-style:none"><a style="padding: 3px;text-decoration:none" href="">Admission</a></li>     <!--for spacing b/w two links we use 'padding' in a{ }-->
                            <li><a style="padding: 3px;text-decoration:none" href="">Courses & Fee</a></li>
                            <li><a style="padding: 3px;text-decoration:none" href="">Placements</a></li>
                            
                        </div>
                    </div>
                </div>
            </div>
            <hr width="100%"></hr>

            <!--new-->
            <div style="display:flex;padding-top:30px">
                <!--1R 2C-->
                <div style="width:25%;">
                    <h1><b><pre>  73</pre></b></h1>
                    <h5><small>NIRF RANK'22</small></h>
                </div>
    
                <div>
                    <h4 style="color:blue;">SKCET Coimbatore - Sri Krishna College of Engineering and Technology</h4>
                    <h6>Ownership:Private</h6>
                    <hr width="100%"></hr>

                    <div>
                        <div style="display:flex;">
                            <li style="list-style:none"><a style="padding: 3px;text-decoration:none" href="">Admission</a></li>     <!--for spacing b/w two links we use 'padding' in a{ }-->
                            <li><a style="padding: 3px;text-decoration:none" href="">Courses & Fee</a></li>
                            <li><a style="padding: 3px;text-decoration:none" href="">Placements</a></li>
                            
                        </div>
                    </div>
                </div>
            </div>
            <hr width="100%"></hr>

            <!--new-->
            <div style="display:flex;padding-top:30px">
                <!--1R 2C-->
                <div style="width:25%;">
                    <h1><b><pre>  84</pre></b></h1>
                    <h5><small>NIRF RANK'22</small></h>
                </div>
    
                <div>
                    <h4 style="color:blue;">Vel Tech Chennai - Vel Tech Rangarajan Dr Sagunthala R and D Institute of Science and Technology</h4>
                    <h6>Ownership:Private</h6>
                    <hr width="100%"></hr>

                    <div>
                        <div style="display:flex;">
                            <li style="list-style:none"><a style="padding: 3px;text-decoration:none" href="">Admission</a></li>     <!--for spacing b/w two links we use 'padding' in a{ }-->
                            <li><a style="padding: 3px;text-decoration:none" href="">Courses & Fee</a></li>
                            <li><a style="padding: 3px;text-decoration:none" href="">Placements</a></li>
                            
                        </div>
                    </div>
                </div>
            </div>
            <hr width="100%"></hr>

            <!--new-->
            <div style="display:flex;padding-top:30px">
                <!--1R 2C-->
                <div style="width:25%;">
                    <h1><b><pre>  85</pre></b></h1>
                    <h5><small>NIRF RANK'22</small></h>
                </div>
    
                <div>
                    <h4 style="color:blue;">TCE Madurai - Thiagarajar College of Engineering</h4>
                    <h6>Ownership:Private</h6>
                    <hr width="100%"></hr>

                    <div>
                        <div style="display:flex;">
                            <li style="list-style:none"><a style="padding: 3px;text-decoration:none" href="">Admission</a></li>     <!--for spacing b/w two links we use 'padding' in a{ }-->
                            <li><a style="padding: 3px;text-decoration:none" href="">Courses & Fee</a></li>
                            <li><a style="padding: 3px;text-decoration:none" href="">Placements</a></li>
                            
                        </div>
                    </div>
                </div>
            </div>
            <hr width="100%"></hr>

            <!--new-->
            <div style="display:flex;padding-top:30px">
                <!--1R 2C-->
                <div style="width:25%;">
                    <h1><b><pre>  95</pre></b></h1>
                    <h5><small>NIRF RANK'22</small></h>
                </div>
    
                <div>
                    <h4 style="color:blue;">Rajalakshmi Engineering College, Chennai</h4>
                    <h6>Ownership:Private</h6>
                    <hr width="100%"></hr>

                    <div>
                        <div style="display:flex;">
                            <li style="list-style:none"><a style="padding: 3px;text-decoration:none" href="">Admission</a></li>     <!--for spacing b/w two links we use 'padding' in a{ }-->
                            <li><a style="padding: 3px;text-decoration:none" href="">Courses & Fee</a></li>
                            <li><a style="padding: 3px;text-decoration:none" href="">Placements</a></li>
                            
                        </div>
                    </div>
                </div>
            </div>
            <hr width="100%"></hr>

        </div>
        
    </body>
</html>