html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, nav ul, nav li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 'Spartan', sans-serif;
  
}



h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
  
}

h2 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
  
}

h3 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
  
}

h4 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
  
}

h5 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
  
}

h6 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
  
}

p {
  font-size:16px;
  color: #465b52;
  margin:15px 0 20px 0;
}

.section-p1 {
  padding:40px 80px;
}

.section-m1 {
  margin:40px 0;
}

body {
  width:100%;
}